/* style.css
 * This file provides css styles.
 */

.table {
	background-color: #ffffff;
	color: black;
	overflow: auto;
}

.format-info {
	font-size: smaller;
	color: #41d6c3;
	font-style: italic;
}

.wide-container {
	width: 80%;
}

fieldset {
  max-width: 100%;
	width: 80%;
}

fieldset .form-group {
  max-width: inherit;
  overflow: auto;
}

.ioTextStyle {
	font-size: 14px;
	color: #555;
	font-family: inherit;
}

.ioTextStyle table thead tr th {
	font-weight: bold;
	font-size: 14px;
	color: #152935;
	font-family: inherit;
	background: #41d6c3;
}

.ioTextStyle table tbody tr td {
	font-size: 14px;
	color: #555;
	font-family: inherit;
}

#scoreDiv {
	max-height: 30em;
	overflow: auto;
}

#streamSelect {
	width: 48%;
	margin-right: 4%;
}

#tableSelect {
	width: 48%;
}

.alert {
  position: relative
}

.special-alert {
  margin: 10px;
  min-width: 60%;
  width: 50em;
  max-width: 95%;
  position: relative;
  background-color: #c61c7d;
  color: white;
  border-width: 0;
}

.model-select {
	display: inline;
}

.shadowed {
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
}

.no-border {
	border-width: 0;
}

.special-border {
	border-color: #41d6c3;
}

.light-border {
	border-color: white;
}

.dark-border {
	border-color: black;
}

.base-color {
	background-color: #152935;
	color: white;
}

.base-color2 {
	background-color: #26343f;
	color: white;
}

.base-color3 {
	background-color: #273d4b;
	color: white;
}

.base-color4 {
	background-color: #3b4b54;
	color: white;
}

.light-color {
	background-color: #eff2f5;
	color: black;
}

.light-color2 {
	background-color: #white;
	color: black;
}

.special-color {
	background-color: #41d6c3;
	color: black;
}

.small-nav {
	height: 40px;
	min-height: 40px;
	margin: 0;
	padding: 0;
}

.small-nav li a {
	padding-top: 0px;
}

.lower-nav {
	top: 40px;
}

#application-name {
	color: white;
	margin: 0;
	font-size: 28px;
}

.button-color {
	color: #5aaafa;
}

.button-color:visited {
	color: #5aaafa;
}

.button-color:hover {
	color: #eff2f5;
}

.navbar-default .navbar-nav li a {
    color: #5aaafa;
}

.navbar-default .navbar-nav li a:visited {
    color: #5aaafa;
}

.navbar-default .navbar-nav li a:hover {
    color: #eff2f5;
}

.inline-icon {
	width: 24px;
	height: 24px;
	display: inline;
	margin-right: 5px;
	margin-left: 10px;
}

.loadingOverlayContainer {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 32, 49, 0.8);
	z-index: 100;
}

.loadingContainer {
	width: 90px;
	margin: 0 auto;
	position: absolute;
	top: calc(50% - 45px);
	left: calc(50% - 45px);
}

.loader {
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(0) rotate(300deg);
  transform: translateZ(0) rotate(300deg);
  -webkit-transform-origin: 25px 25px;
  transform-origin: 25px 25px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: b 4s ease-out infinite;
  animation: b 4s ease-out infinite;
}

.loader .loader__path {
  stroke-dasharray: 125px;
  stroke-dashoffset: 9.7px;
  r: 20px;
  cx: 50px;
  cy: 50px;
  fill: transparent;
  stroke: #a6266e;
  stroke-width: 4.65116px;
  stroke-linecap: butt;
  transition: stroke-dashoffset 1s cubic-bezier(.5,.08,0,1);
  -webkit-animation: a 4s ease-out infinite;
  animation: a 4s ease-out infinite;
}

.large {
  width: 90px;
  height: 90px;
}

.loader--dark .loader__path {
  stroke: #41d6c3;
}

@-webkit-keyframes a {
  0% {
    stroke-dashoffset: 9.7px;
  }

  60% {
    stroke-dashoffset: 113.52px;
  }

  to {
    stroke-dashoffset: 9.7px;
  }
}

@keyframes a {
  0% {
    stroke-dashoffset: 9.7px;
  }

  60% {
    stroke-dashoffset: 113.52px;
  }

  to {
    stroke-dashoffset: 9.7px;
  }
}

@-webkit-keyframes b {
  0% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }

  60% {
    -webkit-transform: rotate(1320deg);
    transform: rotate(1320deg);
  }

  to {
    -webkit-transform: rotate(2100deg);
    transform: rotate(2100deg);
  }
}

@keyframes b {
  0% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }

  60% {
    -webkit-transform: rotate(1320deg);
    transform: rotate(1320deg);
  }

  to {
    -webkit-transform: rotate(2100deg);
    transform: rotate(2100deg);
  }
}
